
body, html {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #272C3F;
  }
  
/* This is for the main face of the screen. To start the user off with simplistic information */
.background-main {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.profile-picture-container {
    border: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.profile-picture-container img {
    width: 100%;
    height: 99%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.name {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.description {
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
}

.button-index {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
.button-index:hover {
    color: #5D7B5F;
}

/*This is for the repeating frog moon emblem*/
.frog-moon-bar {
    height: 90px;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/56/90/54/569054a2bf3370abf4b0c3fd2e06bc0f.jpg');
    background-repeat: repeat-x; 
    background-size: contain;
    position: absolute; 
    bottom: 0;
    left: 0;
}



/* About Me Page Stuff */
.about-me-section {
    color: #FFFFFF;
    font-weight: 300;
    padding: 3.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 800px;
}


/* Frog image at the bottom. Wil take you to Roy Henry Vickers, the orginal artist. */
.tlingit-frog {
    width: 6%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
} 
